body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

#brand {
  font-size: 30px;
  font-weight: 100;
}
nav {
  background-color: #111;
  color: white;
  padding: 20px 50px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* add style for search icon */

.limitedOffer {
  font-size: 20px;
  border-bottom: 2px solid green;
  cursor: pointer;
}
.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: lightgrey;
  font-weight: 400;
}

/* SEARCH BAR */
.search {
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}

.searchInput {
  border: none;
  background-color: transparent;
}

.searchInput::placeholder {
  color: lightgray;
}

.searchIcon {
  color: lightgray;
}

.slider {
  background-image: url(img/Background.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87%);
}

/* SLIDER */
#earing {
  width: 575px;
  height: 372px;
  border-radius: 10px;
}

#bracelet {
  width: 575px;
  height: 372px;
  border-radius: 10px;
}

#necklace {
  width: 575px;
  height: 372px;
  border-radius: 10px;
}

#ring {
  width: 575px;
  height: 372px;
  border-radius: 10px;
}
.sliderWrapper {
  display: flex;
  width: 500vw;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
